@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@700&display=swap');

body {
    margin: 0px;
    overflow-y:hidden;
    overflow-x:hidden;
}

#experi, #int {
    display: none;
}

#temp {
    width: 550px;
    height: 50vh;
    position: absolute;
    right: 200px;
    top: 30%;
    font-size: 16px;
}

.content {
    width: 100%;
    margin: auto;
    margin-right: 0px;
    background-color: black;
    color: white;
    height: 100vh;
}

.intro {
    width: 550px;
    display: inline-block;
    position: absolute;
    height: 40vh;
    right: 200px;
    top: 30%;
    font-size: 16px;
}

.exp {
    display: inline-block;
    position: absolute;
    height: 50vh;
    right: 20px;
    top: 125%;
}

.techs li:nth-child(5), .techs li:nth-child(6) {
    position: relative;
    top: 100px;
}

.techs {
    height: 100px;
    width: 200px;
}

.slist {
    position: absolute;
    right: 200px;
    bottom: 72px;
}

.left {
    background-color: white;
    z-index: 1;
    width: 42%;
    height: 100vh;
    position: absolute;
    top: 0;
    color: black;
}

.name {
    font-family: 'Montagu Slab', serif, sans-serif;
    position: sticky;
    top: 40%;
    left: 60px;
    font-size: 80px;
    width: 250px;
    margin-left: 25px;
    font-weight: 900;
}

.chead {
    font-size: 37px;
    padding-left: 20px;
}

.time {
    font-size: 20px;
    padding-left: 20px;
}

.ebod li {
    padding: 5px;
}

.companies div {
    display: inline;
    padding: 5px;
    font-size: 20px;
    color: white;
}

.companies > .compitem1:hover {
    background-color: white;
    color: black;
}

.companies > .compitem2:hover {
    background-color: white;
    color: black;
}

.companies > .compitem3:hover {
    background-color: white;
    color: black;
}

.companies {
    padding-bottom: 55px;
    padding-left: 20px;
}

.bars > div {
    display: inline-block;
    padding: 0px;
    margin-bottom: -5px;
    margin-left: 5px;
    margin-right: 5px;
}

.bars {
    display: inline-block;
    padding: 0px;
}

.outer{
    background-color: white;
    width: 5px;
    height: 25px;
}

.middle {
    background-color: white;
    width: 3px;
    height: 25px;
}

.center {
    background-color: white;
    width: 1px;
    height: 25px;
}

.divider {
    width: 70px;
    height: 100vh;
    background-color: white;
    position: absolute;
    z-index: 2;
    right:60%;
}

.aboutme {
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading {
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 185px;
    color: black;
    transform: rotate(-90deg);
    font-size: 30px;
    overflow: hidden;
}
#pagename {
    margin-top: -2px;
}

#bar {
    width: 100px;
    height: 10px;
    position: relative;
    top: 10px;
    display: none;
}

.exper {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 210px;
    color: black;
    transform: rotate(-90deg);
    font-size: 30px;
}

.topbars {
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 40%;
    margin: auto;
    overflow: hidden;
}

.bottombars {
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.topbars > div {
    position: relative;
    display: inline-block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:black;
}

.bottombars > div {
    position: relative;
    display: inline-block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:black;
}

.root {
    --top: 300px;
    --height: 10px;
}

.bbar {
    width: 20px;
    background-color: black;
    position: relative;
    top: 300px;
    left: 10px;
    transition: top 2s, height 1s;
    margin: 10px;
}

.topbars:hover .bbar {
    height: 0px;
    top: 20px;
}

img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin: 20px;
}

.facebook, .whatsapp, .skype, .linkedin, .insta {
    position: sticky;
}

.facebook {
    top: 28%;
}
.whatsapp{
    top: 38%;
}
.skype {
    top: 48%;
}
.linkedin {
    top: 58%;
}
.insta {
    top: 68%;
}

.icons {
    position: absolute;
    right: 10px;
    top: 0;
    color: white;
    height: 100vh;
}