<html>

<head>
<title>sample1</title>
<meta charset='UTF-8'>
<meta name='description' content='practicing a simple web page'>
<meta name='author' content='Pruthvi'>
<link rel="stylesheet" href="home.css">
<script src="home.js"></script>
</head>
<body onload="setfirst()">
        <div class="content">
            <div class="intro">
                <div class="ibod">
                    <p>Hello! My name is Brittany and I enjoy creating things that live on 
                        the internet. My interest in web development started back in 
                        2012 when I decided to try editing custom Tumblr themes — turns 
                        out hacking together a custom reblog button taught me a lot 
                        about HTML & CSS!</p>
                    <p>Fast-forward to today, and I’ve had the privilege of working at an 
                        advertising agency, a start-up, a huge corporation, and a 
                        student-led design studio. My main focus these days is building 
                        accessible, inclusive products and digital experiences at 
                        Upstatement for a variety of clients.</p>
                    <p>I also recently launched a course that covers everything you need 
                        to build a web app with the Spotify API using Node & React.</p>
                    <p>
                        Here are a few technologies I’ve been working with recently:
                    </p>
                    <div class="techs">
                    <ul>
                        <li>JavaScript (ES6+)</li>
                        <li>TypeScript</li>
                        <li>React</li>
                        <li>Eleventy</li>
                    </ul>
                    </div>
                    <div class="slist">
                    <ul>
                        <li>Node.js</li>
                        <li>WordPress</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="divider">
                <div class="aboutme">
                    <div class="topbars">
                        <div class="thirteen"></div>
                        <div class="twelve"></div>
                        <div class="eleven"></div>
                        <div class="ten"></div>
                        <div class="nine"></div>
                        <div class="eight"></div>
                        <div class="seven"></div>
                        <div class="six"></div>
                        <div class="five"></div>
                        <div class="four"></div>
                        <div class="three"></div>
                        <div class="two"></div>
                        <div class="one"></div>
                    </div>
                    <div class="heading"><p class="">
                        <b>ABOUT ME</b>
                    </p></div>
                    <div class="bottombars">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="four"></div>
                        <div class="five"></div>
                        <div class="six"></div>
                        <div class="seven"></div>
                        <div class="eight"></div>
                        <div class="nine"></div>
                        <div class="ten"></div>
                        <div class="eleven"></div>
                        <div class="twelve"></div>
                        <div class="thirteen"></div>
                    </div>
                </div>
                <div class="experience">
                    <div class="topbars">
                        <div class="thirteen"></div>
                        <div class="twelve"></div>
                        <div class="eleven"></div>
                        <div class="ten"></div>
                        <div class="nine"></div>
                        <div class="eight"></div>
                        <div class="seven"></div>
                        <div class="six"></div>
                        <div class="five"></div>
                        <div class="four"></div>
                        <div class="three"></div>
                        <div class="two"></div>
                        <div class="one"></div>
                    </div> 
                    <div class="exper"><p class="">
                        <b>EXPERIENCE</b>
                    </p></div>
                    <div class="bottombars">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="four"></div>
                        <div class="five"></div>
                        <div class="six"></div>
                        <div class="seven"></div>
                        <div class="eight"></div>
                        <div class="nine"></div>
                        <div class="ten"></div>
                        <div class="eleven"></div>
                        <div class="twelve"></div>
                        <div class="thirteen"></div>
                    </div>
                </div>
            </div>
            <div class="exp">
                <div class="ebod">
                    <div>
                        <div class="companies">
                        <div class="compitem1" id="cione" onclick="setcompany('cione')">Company 1</div>
                        <div class="bars">
                            <div class="outer"></div>
                            <div class="middle"></div>
                            <div class="center"></div>
                            <div class="middle"></div>
                            <div class="outer"></div>
                        </div>
                        <div class="compitem2" id="citwo" onclick="setcompany('citwo')">Company 2</div>
                        <div class="bars">
                            <div class="outer"></div>
                            <div class="middle"></div>
                            <div class="center"></div>
                            <div class="middle"></div>
                            <div class="outer"></div>
                        </div>
                        <div class="compitem3" id="cithree" onclick="setcompany('cithree')">Company 3</div>
                        </div>
                        <div class="chead" id="cname"><b>Engineer&nbsp;@&nbsp;Upstatement</b></div>
                        <div class="time" id="tim"><b>May 2018 - Present</b></div>
                    <ul>
                        <li>Write modern, performant, maintainable code for a diverse 
                            array of client and internal projects</li>
                        <li>Work with a variety of different languages, platforms, 
                            frameworks, and content management systems such as 
                            JavaScript, TypeScript, Gatsby, React, Craft, WordPress, 
                            Prismic, and Netlify</li>
                        <li>Communicate with multi-disciplinary teams of engineers, 
designers, producers, and clients on a daily basis</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="left">
            <div class="name"><b>PRUTHVI RAJ K</b></div>
        </div>
        <div class="icons">
            <div class="facebook">
                <img src="facebook.png" alt="facebooklogo">
            </div>
            <div class="whatsapp">
                <img src="whatsapp.png" alt="whatsapp">
            </div>
            <div class="skype">
                <img src="skype.png" alt="skype">
            </div>
            <div class="linkedin">
                <img src="linkedin.png" alt="linkedin">
            </div>
            <div class="insta">
                <img src="instagram.png" alt="instagram">
            </div>
        </div>
        
</body>
</html>