<html>

<head>
<title>layout_flex</title>
<meta charset='UTF-8'>
<meta name='description' content='practicing a simple web page'>
<meta name='author' content='Pruthvi'>
<link rel="stylesheet" href="menu1.css">
</head>
<body>
    
    <ul>
        <li id="menu">Menu</li>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>

    <div class="wrapper">
        <div class="box1">One</div>
        <div class="box2">Two</div>
        <div class="box3">Three</div>
        <div class="box4">Four</div>
        <div class="box5">Five</div>
        <div class="box6">Six</div>
    </div>

</body>

</html>

