#dropitem1 {
    display: none;
    position: absolute;
    border-radius: 10px;
    border-width: 1px;
    border-color: transparent;
    background-color: whitesmoke;
    padding: 10px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0px;
}

#dropitem1 .dropitem:hover {
    background-color: wheat;
}

p {
    padding: 5px;
    border-radius: 10px;
}

#dropmenu {
    float: left;
}

#dropmenu:hover #dropitem1 {
    display: inline-block;
}