<html>

<head>
<title>CSS layout1</title>
<meta charset='UTF-8'>
<meta name='description' content='practicing a simple web page'>
<meta name='author' content='Pruthvi'>
<style>

html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body{
    width: 40%;
    font-size: 0px;
    background-color: lemonchiffon;
}
p {
    background-color: burlywood;
    margin: 30px auto;
    padding: 10px;
    border: 10px solid navy;
    font-size: 16px;
    width: 300px;
    height: 200px;
}

a{
    background-color: skyblue;
    white-space: nowrap;
    padding: 5px;
    display: inline-block;
    height: 200px;
    font-size: 16px;
}

</style>
</head>
<body>
<p> this is block type element</p>
<p> padding does not accept negative values </p>
<p> this is block type element</p>
<a href="#">This is inline element</a>
<a href="#">This is inline element</a>
<a href="#">This is inline element</a>
<a href="#">This is inline element</a>
<a href="#">This is inline element</a>
<p> this is block type element</p>
</body>
</html>