<html>

<head>
<title>layout_flex</title>
<meta charset='UTF-8'>
<meta name='description' content='practicing a simple web page'>
<meta name='author' content='Pruthvi'>
<link rel="stylesheet" href="layout1_flex.css">
</head>
<body>

    <div class="wrapper">
        <div class="box1">One</div>
        <div class="box2">Two
            testing
        </div>
        <div class="box3">Three</div>
        <div class="box4">Four</div>
        <div class="box5">Five</div>
        <div class="box6">Six</div>
    </div>

</body>

</html>

